{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Olá, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% if not known %}
    <p>Prazer em conhecê-lo!</p>
    {% else %}
    <p>Feliz em vê-lo novamente!</p>
    {% endif %}
</div>
{{ wtf.quick_form(form) }}

<div class="page-content">
    <h2>Relação de usuários cadastrados</h2>
<h4>Quantidade: {{ users|length }}</h4>
<table class="table">
    <thead>
        <tr>
            <th>Nome do usuário</th>
            <th>Função</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.role.name if user.role else 'User' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Relação de funções cadastradas</h2>
<h4>Quantidade: {{ roles|length }}</h4>
<table class="table">
    <thead>
        <tr>
            <th>Funções</th>
            <th>Usuários</th>
        </tr>
    </thead>
    <tbody>
        {% for role in roles %}
        <tr>
            <td>{{ role.name }}</td>
            <td>
                <ol>
                    {% for user in role.users %}
                    <li>{{ user.username }}</li>
                    {% endfor %}
                </ol>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}